section#home {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  padding-bottom: 4rem;
  margin-bottom: 2rem;

  @include md-screen {
    height: 70vh;
  }

  @include lg-screen {
    height: 90vh;
  }

  .carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.32s cubic-bezier(0.455, 0.03, 0.515, 0.955);

      &.off {
        opacity: 0;
        pointer-events: none;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }

      .carousel-page {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__content {
          display: flex;
          flex-direction: column;
          width: 100%;
          text-align: center;
          color: #ececec;
          padding: 15px;

          @include md-screen {
            text-align: left;
            padding-top: 70px;
            padding-left: 30px;
          }

          h1 {
            font-family: $lora;
            font-size: 54px;
            font-weight: 400;
            margin-bottom: 1.6rem;

            @include md-screen {
              width: 30%;
              font-size: 72px;
            }
          }

          p {
            font-size: 22px;
            font-weight: 600;
            line-height: 30.5px;

            @include md-screen {
              width: 60%;
              font-size: 20px;
            }
          }
        }

        &__buttons {
          width: 100%;
          text-align: center;
          padding: 15px 25px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 4rem;

          .primary-btn {
            @include primary-btn($yellow, 25px, 40px);

            @include md-screen {
              padding: 20px 35px;
              font-size: 18px;
            }
          }

          @include md-screen {
            align-items: flex-start;
          }
        }
      }
    }

    .pagers {
      display: flex;
      justify-content: space-between;
      width: 25%;
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      @include md-screen {
        justify-content: space-evenly;
      }

      .carousel-slider {
        display: block;
        border: 2px solid $yellow;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 11;

        @include md-screen {
          height: 25px;
          width: 25px;
        }

        @include lg-screen {
          border: none;
          height: fit-content;
          width: fit-content;
          // content: 'f061';
        }

        &::before {
          content: '';
          display: block;
          height: calc(30px * 0.25);
          width: calc(30px * 0.25);
          background-color: $yellow;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          opacity: 0;

          @include md-screen {
            height: calc(25px * 0.25);
            width: calc(25px * 0.25);
          }

          @include lg-screen {
            height: 0;
            width: 0;
          }
        }

        &.active {
          &::before {
            opacity: 1;

            @include lg-screen {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
