section#menu {
  width: 100%;
  overflow: hidden;

  .menu-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0;
    justify-items: center;
    // margin: 2rem 0 0;
    margin-top: 2rem;

    @include md-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    &__item {
      position: relative;

      .overlay {
        position: relative;
        width: 370px;
        height: 278px;

        @include md-screen {
          width: 335px;
          height: 243px;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(20, 20, 20, 0.5);
        }
      }

      .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -70%);
          background-color: $white;
          height: 70px;
          width: 70px;
          border-radius: 50%;
          opacity: 0.32;
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
        }

        .icon {
          color: $white;
          background-color: $purple;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          text-align: center;
          position: relative;
          z-index: 3;

          i {
            transform: translateY(10px);
            font-size: 30px;
          }
        }

        a {
          color: white;
          font-size: 24px;
          transform: translateY(20px);
        }
      }
    }
  }
}
