@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Raleway:wght@300;400;500;600;700&display=swap');

$main-transition: 0.72s cubic-bezier(0.2, 1, 0.3, 1);
$secondary-transition: 0.3s ease;
$normal-transition: 0.3s;
$linear: 0.2s linear;

$yellow: #ffe745;
$teal: #579b7a;
$teal-light: #73cca1;
$purple: #6046b6;
$black: #151515;
$white: #f5f5f5;

$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

$lora: 'Lora', serif;
$raleway: 'Raleway', sans-serif;

// Tablet Screens
@mixin md-screen {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}

// Small Laptops
@mixin lg-screen {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

// Large Laptops
@mixin xl-screen {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

// Extra large computers
@mixin xxl-screen {
  @media only screen and (min-width: $breakpoint-xxl) {
    @content;
  }
}

@mixin primary-btn($bgColor, $px, $py) {
  background-color: $bgColor;
  color: $black;
  padding: $px $py;
  font-size: 20px;
  font-family: $raleway;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  width: max-content;
  cursor: pointer;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: $raleway;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: $black;
}

.header {
  text-align: center;
  margin: 0 auto 3rem;
  // margin: 0rem 2rem 4rem;
  width: 100%;
  // margin: 0rem 2rem 1rem;
  // margin: 2rem 0rem;

  .title {
    font-family: $lora;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3.5px;
  }
  // background-color: blue;
}

.badge {
  // display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px 14px 3px 10px;
  min-width: 76px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 5;
  overflow: hidden;
  color: white;
  text-align: center;

  &.sale {
    color: black;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $yellow;
      z-index: -1;
      transform: skew(-22deg);
      transform-origin: 50% 0;
      pointer-events: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $purple;
    z-index: -1;
    transform: skew(-22deg);
    transform-origin: 50% 0;
    pointer-events: none;
  }
}
